<p>Add a new task:</p>
<form class="form-group" action="/tasks" method="post">
  <label for="description">Task</label>
  <input type="text" name="description" id="description" required>

  <button type="submit" class="btn btn-primary">Add Task</button>
</form>
